{
	"extends" : [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"plugins" : [
		"react"
	],
	"parserOptions" : {
		"ecmaVersion" : 2017,
		"ecmaFeature" : {
			"jsx" : true
		}
	},
	"env" : {
		"es6" : true,
		"browser" : true,
		"node" : true,
		"mocha" : true
	},
	"rules" : {
		"semi": [1, "always"]
	}
}