$tech-green : forestgreen;
$tech-red : firebrick;
$tech-blue: #007bff;
$tech-yellow: darkgoldenrod;
$grey : #ddd;

$breakpoint-2column : 50em;
$breakpoint-3column : 75em;
$breakpoint-4column : 100em;
body {
  font-size: .8em;
  font-family: sans-serif;
}
.faction {
  border-radius: .3rem;
  margin : 10px;
  padding: 10px;
  border: 5px solid black;
  background-color: $grey;
  h2 {
    font-size: 1.3em;
  }
  span {
    margin : 0 3px;
  }
}
.faction-ability {
  .name {
    font-weight: bold;
  }
}
.tech-color{
  width: 15px;
  height: 15px;
  border-radius: 8px;
  display: inline-block;
  vertical-align: middle;
  &.G {
    background-color: $tech-green;
  }
  &.R {
    background-color: $tech-red;
  }
  &.B {
    background-color: $tech-blue;
  }
  &.Y {
    background-color: $tech-yellow;
  }
  &.U {
    position: relative;
    border-radius: .2em;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    width: 1.5em;
    height: 1.5em;
    color: #eee;
    background-color: #333;
    text-align: center;
    &:before {
      position: relative;
      top : .2em;
      vertical-align: baseline;
      content : "\F062"
    }
  }
}

.tech-list {
  list-style: none;
  padding: 0;
}

.technology {
  p {
    margin-left: 2em;
  }
  .name {
    font-weight: bold;
    font-size: 1.1em;
    &.G {
      color : $tech-green;
    }
    &.R {
      color: $tech-red;
    }
    &.B {
      color : $tech-blue
    }
    &.Y {
      color : $tech-yellow
    }
  }
}

.faction-header {
  position: relative;
  img {
    width: 77px;
    border-radius: .3rem;
  }
  h1 {
    display: inline-block;
    vertical-align: top;
    margin: 20px 0px 20px 10px;
    max-width : calc(100% - 137px);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  .commodities {
    display: inline-block;
    font-size: 200%;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 0px;
  }
}
.faction-selection-grid {
  display : flex;
  flex-flow: row wrap;
  align-items: stretch;
  .faction-selector {
    padding: 10px;
    background-color: $grey;
    flex:  1 0 auto;
    margin: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: .3rem;
    cursor: pointer;
    &.selected {
      background-color: rgba($tech-blue, .65);
    }
    img {
      width: 77px;
      display: inline-block;
      border-radius: .3rem;
    }
    h1 {
      display: inline-block;
      margin: 0;
      flex : 1;
      font-weight: bold;
      font-size: 2em;
      margin-left: 10px;
    }
  }
}

.button-bar {
  text-align: right;
  .nav-button {

    font-weight: bold;
    margin : 10px;
  }

}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.fade-exit {
  opacity: 0;
  max-height: 0;
}

@media (min-width: $breakpoint-2column) {
  .faction-list {
    display: flex;
    flex-flow : row wrap;
    justify-content: space-around;
    align-items: stretch;

    .faction {
      display: inline-block;
      flex : 1;
      vertical-align: top;
      min-width: 40%;
    }
  }
}

@media (min-width: $breakpoint-3column) {
  .faction-list {
    .faction {
      min-width: 26%;
    }
  }
}

@media (min-width: $breakpoint-4column) {
  .faction-list {
    .faction {
      min-width: 21%;
    }
  }
}

@media print {
  .button-bar {
    display: none;
  }
  .faction {
    background-color: white;
    page-break-inside: avoid;
  }
}